<%
=begin%>
 <%
%>
 <h1>ParenthoodApp</h1>
<a href=" ">Home</a>
<a href="babies#index">Babies</a>
<a href="babies/new">Create listing</a>
<%
%>
<%
=end%>
<%= image_tag "banner.png", alt: "Home Image", class: "image-class" %>
<%# <%= link_to "Go to Babies", babies_path, class: "btn btn-primary mt-3" %>
<div class="banner" >
  <div class="container">
    <h1>Testrun Parenthood</h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
