<%
=begin%>
 <%
%>
 <h1>ParenthoodApp</h1>
<a href=" ">Home</a>
<a href="babies#index">Babies</a>
<a href="babies/new">Create listing</a>
<%
%>
<%
=end%>
<%= image_tag "banner.png", alt: "Home Image", class: "image-class" %>
<%# <%= link_to "Go to Babies", babies_path, class: "btn btn-primary mt-3" %>

